*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


html,
body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-left:50px;
    margin-right:50px;
    border-radius: 15px;
    padding:5px;
    
}

a {
    text-decoration-line:none;
    color:white;
}

h3 {
    text-align: center;
    padding:10px;
    margin-left:30px;
    margin-right:30px;
}

#header {
    display:flex;
    height:50px;
    border-style:solid;
    /* border-color: red; */
    border-width: 1px;
    margin-bottom:30px;
    background: linear-gradient(100deg, rgba(38,32,87,1) 0%, rgba(65,80,154,1) 100%);}

#header p{
    color:floralwhite;
    font-size: 30px;
}

#questions {
    background-color: white;

}

#left{
    flex-basis: 50%;
    display:inline;
}   
#right{
    flex-basis: 50%;
    display:inline;

} 

#left p{
    margin-left:5px;
    margin-top: 5px;
    display:block;
} 

#right p{
    margin-right:5px;
    margin-top: 5px;
    text-align:right;
    display:block;
}

#quiz-box {

    margin: 0 auto;
    height: fit-content;
    width: 51%;
    border-style: solid;
    border-color:darkslateblue;
    border-width: 1px;
    border-radius: 20px;
    min-width: 620px;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-image: url(https://www.ancient-origins.net/sites/default/files/field/image/Anubis-small.jpg);
    background-position:left;

}


#newQuestion{
    background-color: white;
    border-radius: 15px;

}

#startQuiz {
    width:50px;
    margin:auto;
    margin-bottom:30px;
    display: inline;
}

#startQuizDiv{
    display:flex;
}

.buttonStyle{
    background-color:darkslateblue;
    color:white;
    border-radius: 5px;
}

#multipleChoice{
    display:inline-block;
    margin-left: 30px;
    margin-bottom: 30px;
}
#choice1, #choice2, #choice3, #choice4{
    display:block;
    margin-bottom: 5px;
}

#enterInitials {
    text-align: left;
    margin-left:20px;
    color:wheat;

}

#formSection {
    /* display:flex; */
    /* border:teal;
    border-width: 3px;
    border-style: solid; */
    margin-bottom: 30px;
    margin-top:-12px;
}

form {
    align-self:center;
}

#userInitials {
    align-items: center;
}

#submit {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
}

#answersRight {
    font-size: 30px;
    text-align: right;
    color:wheat;
    margin:30px;
}

#rightWrong {
    font-size: 20px;
    text-align: center;
    color:purple;
}

#scoreList {
    background-color: lightpink;
    margin-left: 30px;
    margin-right: 30px;
}

#initialText {
    margin-left:30px;
}

#submitScore {
    margin-left:30px;
    margin-top:30px;
}

#highScoreButtons {
    display:flex;
    justify-content: center;
    margin-left:30px;
    margin-bottom:30px;
}

#goBack {
    margin-right:10px;
}

#clearScores {
    margin-left:10px;
}